
<ion-header>

  <ion-navbar>
    <ion-title>firebase</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h1>Artty</h1>
<ion-list>
  <ion-list-header>Device-List</ion-list-header>
  <ion-item *ngFor="let device of devicelist" (click) = "switchDevice(device)">
  
         
      
      {{device.$key}} : {{device.control}}   
           <div *ngIf="device.control==0">เปิด</div> 
           <div *ngIf="device.control==1">ปิด</div>           
  </ion-item>
</ion-list>

<ion-item>
  <ion-label>Time Morning</ion-label>
  <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="dataobject.time_morning"></ion-datetime>
</ion-item>
<ion-item>
  <ion-label>Time Noon</ion-label>
  <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="dataobject.time_noon"></ion-datetime>
</ion-item>
<ion-item>
  <ion-label>Time Night</ion-label>
  <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="dataobject.time_night"></ion-datetime>
</ion-item>

<div padding>
  <button ion-button full (click)="setTime(dataobject)">setTime</button>
</div>

</ion-content>
